__pycache__
/.idea
.env
.DS_Store
/usage_logs
venv
/.cache


/bot/usage_logs/*
/bot/utils_files/message_data.json
/bot/utils_files/result.json
/bot/send_messages.py
/bot/*.jpg

*.ogg
*.pt

.replit
replit.nix

/ffmpeg

pyproject.toml